{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block content %}

<div class="container">
	<div class="image-section">
		<img src="{{ asset("img/Card Game Class Diagram.png") }}" alt="Bild på karaktär piggelin">
	</div>
	<div class="content-section">
		<div class="content">
			{{ include('content/cardStart.markdown.twig')|markdown_to_html }}

			<div class="button mt-[30px]">
				<a href="{{ path("card_deck") }}" class="bg-[#43655a] hover:bg-[#009688] text-white text-[15px] tracking-[1.5px] px-10 py-3 no-underline inline-block transition-colors">See deck</a>
				<a href={{ path("deck_shuffle") }} class="bg-[#43655a] hover:bg-[#009688] text-white text-[15px] tracking-[1.5px] px-10 py-3 no-underline inline-block transition-colors">Shuffle deck</a>
				<a href={{ path("card_draw") }} class="bg-[#43655a] hover:bg-[#009688] text-white text-[15px] tracking-[1.5px] px-10 py-3 no-underline inline-block transition-colors">Draw card</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

